@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Manrope:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,900&display=swap');

html {
    Width:100%;
    margin:0;
    padding:0;
}

body {
    width:100%;
    margin-left :auto;
    margin-right: auto;
    padding:0;
    box-sizing: border-box;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 667px;
    width:100%;
    margin:0 auto;
    padding:0;
    background: lightgrey;
}

.bg-header {
    margin:0px;
    width: 100%;
    height: 667px;
    object-fit: cover;
}

.logo-header {
    width:207px;
    height:25.26px;
    position:absolute;
    top:51px;
    left:5%;
    object-fit: cover;
}

.form-group-search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    position:absolute;
}

.box-input-loop {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    z-index:1;
}

.loop-search-bar {
    object-fit: cover;
    position: absolute;
    right:1.1%;
    z-index:2;
}

#label-search-bar {
    font-family:"Anton";
    color: rgba(255, 255, 0, 0.74);
    width:53%;
    font-size: 2em;
    text-align: center;
}

#search-bar {
    font-family:"Manrope";
    font-size:16px;
    font-weight:400;
    line-height:22;
    display: flex;
    height:72px;
    width:100%;
    padding-left:35px;
    border-radius:11px;
}

main {
    margin:0 auto;
    padding-left:5%;
    padding-right:5%;
    display:flex;
    flex-direction: column;
    width:100%;
    background: lightgrey ;
}

/************** Collapses **************/
.box-selects {
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.box-drop {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:75%;
}

.dropdown{
    position:relative;
    display:flex;
    flex-direction: column;
    width: 30.7%;
    flex-wrap: wrap;
}

/* Bouton */
.btn-primary[aria-expanded="false"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 156px;
    padding: 17px 16px;
    background: white;
    color: black;
    outline: none;
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
    border:none;
}

.btn-primary[aria-expanded="true"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 156px;
    padding: 17px 16px;
    background: white;
    color: black;
    outline: none;
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
    border:none;
    background: white;
    color:black;
    border-radius: 11px 11px 0px 0px;   
}

.collapse.show::after{
    background: white;
}

.fa-chevron-down  {
    color:black;
    transition: transform 0.3s;
}

.btn-primary[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
}

/* Flèche stylisée */
.btn-primary::after {
    display:none;
}

/* Menu déroulant */
.collapse{
    display: flex;
    position:relative;
    width:100%;
    min-width: 156px;
    max-height: 340px;
    border-radius: 0px 0px 11px 11px;
    flex-direction: column;
    background-color: white;
    border:none;
    overflow: hidden;
}

/* Menu déroulant ouvert */
.collapse.show {
    position:relative;
    max-height: 340px;
    overflow: hidden;

}

.form-group label{
    display:none;
}

.form-control {
    margin:0 auto;
    width:90%;
}

.fa-magnifying-glass {
    position: absolute;
    top:18px;
    left:85%;
}

.list-drop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size:14px;
    font-weight:400;
    color:black;
    width:100%;
    padding: 0;
    margin-left: 0%;
}

.tag-list {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFD15B;
    line-height: 37px;
    font-size:14px;
    font-weight:400;
    color:black;
    text-align: left;
    margin-top:10px;
    margin-left:-10px;
    margin-bottom: 20px;
    width:105%;
    padding-left:25px;
    cursor:pointer;
}

.tag-list:hover {
    font-weight: bold;
    background: #FFD15B;
}

.tag-list img {
    display: none;
}

.tag-list:hover img {
    display: block; 
}

/************* tags **************/
.title-main {
    font-family:"Anton";
    font-size:1.5em;
}

.container-tag-ingredients {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:75%;
    overflow: hidden;
}

#ulTagIngredients, #ulTagAppliances, #ulTagUstensils {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-left:0px;
    margin-right:0px;
    width:30.7%;
}

.tag {
    position:relative;
    margin-top:20px;
    display: none;
    flex-direction: row;
    border-radius:10px;
    min-height:53px;
    width:100%;
    list-style: none;
}

.txt-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD15B;
    padding:17px 18px 17px 18px;
    border-radius:10px;
    font-family:"Manrope";
    font-size:14px;
    font-weight:400;
    color:black;
    line-height: 19px;
    width:100%;
    height:53px;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 6.8%;
    cursor:pointer;
}

.txt-tag:hover {
    font-weight: bold;
}

.fa-xmark {
    display:none;
    color:black;
    font-size:14px;
}

.txt-tag:hover strong {
    display:block;
}

/***************  gallery cards recipes *********/
.gallery {
    position: relative;
    margin-top:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    background: white;
    margin:0 0 40px 0;
    display: flex;
    flex-direction: column;
    width: 32%;
    min-height:900px;
    border-radius:21px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-recipe {
    border-radius: 21px 21px 0px 0px;
    width: 100%;
    height:253px;
    object-fit: cover;
}
.span-time {
    padding:5px 15px 5px 15px;
    position:absolute;
    background: #FFD15B;
    border-radius:14px;
    width:85px;
    top:21px;
    right:21px;
}

.title-recipe {
    margin:25px auto 0;
    font-family: "Anton";
    font-size:18px;
    line-height:27.1px;
    color:black;
    width:85%;
}

.subtitle-recipe, .subtitle-ingredients {
    width:85%;
    margin:25px auto;
}

.description {
    width:85%;
    margin:0 auto;
}

.ingredients-list {
    margin-left:-9px;
    width:95%;
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
}

.subtitle-recipe, 
.description, 
.subtitle-ingredients, 
.name-ingredient, 
.quantity {
    font-family:"Manrope";
    font-weight: 400;
    font-size: 14px;
    color:black;
}

.quantity {
    margin-top:-17px;
}

.name-ingredient {
    font-weight: bold ;
}

@media screen and (max-width: 667px) {
    header {
        justify-content: center;
        align-items: center;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .logo-header {
        position:absolute;
        left:auto;
        right:auto;
    }

    #label-search-bar {
        font-size: 24px;
    }

    #search-bar {
        padding-left: 25px;
    }

    .box-selects {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    /************** Collapses **************/
    .box-drop {
        flex-direction: column;
        width:90%;
    }

    .dropdown {
        position: relative;
        margin-bottom: 20px;
        margin-top: 20px;
        width:100%;
    }

    /* Bouton */
    .btn-primary{
        width: 100%;
    }

    /* Menu déroulant */
    .collapse{
        display: flex;
        position:relative;
        margin-left:0px;
        width:100%;
        max-height: 340px;
        border-radius: 0px 0px 11px 11px;
        flex-direction: column;
        background-color: white;
        border:none;
        overflow: hidden;
    }

    .form-control {
        width:95%;
    }

    .fa-magnifying-glass {
        position: absolute;
        top:18px;
        right:12px;
    }

    main {
        justify-content: center;
        align-items: center;
        padding-left:2%;
        padding-right: 2%;
    }

    #gallery {
        margin-left:auto;
        margin-right:auto;
        width:96%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .card {
        width:100%;
    }

    .container-tag-ingredients {
        flex-direction: column;
        width:90%;
    }
    #ulTagIngredients, #ulTagAppliances, #ulTagUstensils {
        width:100%;
    }
}